* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: white;
}

#header-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 120px;
    padding: 30px;
}

.headerofPage {
    background-color: rgb(128, 121, 129);
    height: 100px;
    place-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg');
    background-repeat: no-repeat;
    background-position: top 1px left 20px;
    background-size: contain;
    height: 80px;
    width: 100%;

}

.hero-section {

    height: 400px;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    background-image: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;


}

.AboutUs {
    background-color: bisque;
    padding: 20px;
    place-items: center;
}

.container {

    display: grid;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);

    column-gap: 5px;
    justify-content: center;


}

.items {
    background-color: aqua;
    padding-top: 20px;
    place-items: center;
}


.ContactForm {
    background-color: bisque;
    padding-top: 20px;
    padding-left: 50px;
    height: 180px;
    text-align: left;
}



input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}


img {
    left: 0px;
    top: 0px;
    z-index: -10;
}

.h3,
.ul {
    margin: 0;
}

button:focus {
    outline: 2px dashed blue;
}

nav a {
    color: rgb(10, 232, 240);
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    color: slateblue;
    font-weight: 700;
    text-decoration: none;
}

.emailHelp {
    text-shadow: dodgerblue;
}

footer {
    background-color: antiquewhite;
    place-items: center;
}



@media (max-width: 1024px) {
    body {
        background-color: brown;
    }

    .items {
        background-color: grey;
        padding-top: 20px;
        place-items: center;
    }
}

@media (max-width: 600px) {
    body {
        background-color: blue;
    }

    .items {
        background-color: gold;
        padding-top: 20px;
        place-items: center;
    }
}